html{
    background-color:rgb(219, 189, 150);
}

h1{
    margin: auto;
    margin-bottom: 30px;
}

.html{
    float:left;
    height: 100px;
    width: 25%;
    background-color: rgb(192, 167, 133);
}

.css{
    float: left;
    height: 100px;
    width: 50%;
    background-color: rgb(192, 167, 133);
}

.javascript{
    float: right;
    height: 100px;
    width: 25%;
    background-color: rgb(192, 167, 133);
}